<h1>Hello Shopify {{ section.id }}</h1>

{% schema %}
{
  "name": "Custom Banner Section",
  "tag": "section",
  "class": "banner-section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Custom Banner Section"
    }
  ]
}
{% endschema %}
