{% comment %} include css stylesheet {% endcomment %}
{{ 'custom-global-styles.css' | asset_url | stylesheet_tag }}
{{ 'custom-grid-section-styles.css' | asset_url | stylesheet_tag }}

{% comment %} include javascript file {% endcomment %}
<script src="{{ 'custom-grid-section-script.js' | asset_url }}" defer></script>

{% comment %} section markup {% endcomment %}
<div class="grid-section-container">
  <h2>Tisso vison in the wild</h2>
  <article class="products-grid">
    <div class="products-grid__item">
      <button class="product-popup__btn">
        <svg
          width="10"
          height="10"
          viewBox="0 0 11 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.3457 1.04175V9.50329"
            stroke="black"
            stroke-width="1.5"
            stroke-linecap="square"
            stroke-linejoin="round"
          />
          <path
            d="M1.11523 5.27252H9.57677"
            stroke="black"
            stroke-width="1.5"
            stroke-linecap="square"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      {% comment %} <img src="./assets/product-1.jpg" alt="product image" /> {% endcomment %}
    </div>
    {% comment %}
      <div class="products-grid__item">
        <button class="product-popup__btn">
          <svg
            width="10"
            height="10"
            viewBox="0 0 11 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.3457 1.04175V9.50329"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M1.11523 5.27252H9.57677"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <img src="./assets/product-2.jpg" alt="product image" />
      </div>
      <div class="products-grid__item">
        <button class="product-popup__btn">
          <svg
            width="10"
            height="10"
            viewBox="0 0 11 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.3457 1.04175V9.50329"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M1.11523 5.27252H9.57677"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <img src="./assets/product-3.jpg" alt="product image" />
      </div>
      <div class="products-grid__item">
        <button class="product-popup__btn">
          <svg
            width="10"
            height="10"
            viewBox="0 0 11 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.3457 1.04175V9.50329"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M1.11523 5.27252H9.57677"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <img src="./assets/product-4.jpg" alt="product image" />
      </div>
      <div class="products-grid__item">
        <button class="product-popup__btn">
          <svg
            width="10"
            height="10"
            viewBox="0 0 11 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.3457 1.04175V9.50329"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M1.11523 5.27252H9.57677"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <img src="./assets/product-5.jpg" alt="product image" />
      </div>
      <div class="products-grid__item">
        <button class="product-popup__btn">
          <svg
            width="10"
            height="10"
            viewBox="0 0 11 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.3457 1.04175V9.50329"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M1.11523 5.27252H9.57677"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <img src="./assets/product-6.jpg" alt="product image" />
      </div>
    {% endcomment %}
  </article>
</div>
{% comment %} section markup {% endcomment %}

{% schema %}
{
  "name": "Custom Grid Section",
  "tag": "section",
  "class": "grid-section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Custom Grid Section"
    }
  ]
}
{% endschema %}
