/* CSS RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/* END CSS RESETS */
/* global variables */
:root {
  --clr-accent-grey: #f5f5f5;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-btn-primary: var(--clr-black);
  --clr-btn-secondary: #fff544;
  --clr-text: var(--clr-black);
  --clr-btnCart: hsla(0, 0%, 97%, 0.8);
  --ff-grid-header: "Lustria", serif;
  --ff-primary: "Jost", sans-serif;
  --radio-choice-clr-1: var(--clr-white);
  --radio-choice-clr-2: var(--clr-white);

  /* explicit default style values */
  --fs-default: 16px;
  --fw-default: 400;
  --line-height-default: 1.5;
  --letter-spacing-default: normal;
  --color-default: var(--clr-black);
}
/* global variables */
/* general styles */
html {
  /* reset relative font size */
  font-size: var(--fs-default);
  -webkit-font-smoothing: antialiased;
  /* remove highlight when tapping buttons */
  -webkit-tap-highlight-color: transparent;
}
/* reset defaults for only sections in the page */
section {
  font-family: var(--ff-primary);
  font-size: var(--fs-default);
  font-weight: var(--fw-default);
  letter-spacing: var(--letter-spacing-default);
  color: var(--color-default);
  line-height: var(--line-height-default);
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 1rem;
  width: 12.9375rem;
  height: 2.8125rem;
  border: none;
  position: relative;
  z-index: 1;
  transition:
    transform ease 250ms,
    box-shadow ease 250ms;
}
.btn:hover {
  transform: scale(1.01);
  box-shadow: hsla(0, 0%, 0%, 0.1) 0 0 4px;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: width ease 250ms;
}
.btn:hover::before {
  width: 100%;
}
/* general styles */
