/* banner section styles */
/* //////////////////////////////////////// */
/* header styles */
.banner-section header {
  background-color: var(--clr-accent-grey);
}
.banner-section header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 3.125rem;
}
#nav-icon {
  display: none;
}
#close-nav,
#open-nav.active {
  display: none;
}
#close-nav.active {
  display: block;
}
#nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--clr-accent-grey);
  position: absolute;
  top: 4.1875rem;
  left: 0;
  transform: translateX(-100%);
  padding: 1.5625rem 1rem;
  width: 100%;
  transition: transform ease 300ms;
  z-index: 1;
}
#nav-menu.active {
  transform: translateX(0);
}
.banner-section header .btn {
  background-color: var(--clr-btn-secondary);
}
.banner-section header .btn::before {
  background-color: var(--clr-black);
}
.banner-section header .btn:hover {
  color: var(--clr-white);
}
.banner-section header .btn:hover > svg path {
  fill: var(--clr-white);
}

@media (max-width: 48rem) {
  .banner-section header {
    position: relative;
  }
  .banner-section header .container {
    justify-content: center;
    padding: 1.5rem 1rem;
  }
  #nav-icon {
    display: block;
    position: absolute;
    left: 1rem;
  }
  .banner-section header .btn-desktop,
  .banner-section header .slogan-desktop {
    display: none;
  }
}
/* header styles */

/* main styles */
.banner-section .main .main-cover {
  width: 100%;
  height: 24.375rem;
  object-fit: cover;
  object-position: bottom;
}
.banner-section .main .main-content-container {
  display: grid;
  grid-template-columns: 30.25rem 100vw;
  align-items: center;
  overflow: hidden;
  padding-left: 4.25rem;
}
.banner-section .main .main-content-cover {
  width: 100%;
  height: 25.125rem;
  object-fit: cover;
  object-position: top;
}
.banner-section .main .main-content {
  max-width: 30.25rem;
}
.banner-section .main .main-content h1 {
  font-size: 4.375rem;
  line-height: 1;
  font-weight: 500;
}
.banner-section .main .main-content p {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}
.banner-section .main .main-content .btn {
  background-color: var(--clr-black);
  color: var(--clr-white);
}
.banner-section .main .main-content .btn::before {
  background-color: var(--clr-btn-secondary);
}
.banner-section .main .main-content .btn:hover {
  color: var(--clr-black);
}
.banner-section .main .main-content .btn:hover > svg path {
  fill: var(--clr-black);
}

@media (max-width: 48rem) {
  .banner-section .main .main-cover {
    display: none;
  }
  .banner-section .main .main-content {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .banner-section .main .main-content h1 {
    font-size: 1.875rem;
    margin-top: 3.125rem;
  }
  .banner-section .main .main-content p {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  .banner-section .main .main-content p > span {
    display: none;
  }
  .banner-section .main .main-content-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0;
    gap: 0.75rem;
    position: relative;
    justify-items: center;
  }
  .banner-section .main .main-content .btn {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .banner-section .main .main-content-cover {
    width: 100vw;
    height: 16.5rem;
  }
}
/* main styles */
/* footer styles */
.banner-section footer {
  text-align: center;
  background-color: var(--clr-accent-grey);
  padding: 0.625rem 0;
}
.banner-section footer p {
  font-size: 1rem;
  line-height: 0.875rem;
}
.banner-section footer p span:last-of-type {
  display: none;
}
@media (max-width: 48rem) {
  .banner-section footer p {
    font-size: 0.875rem;
    line-height: 0.875rem;
  }
  .banner-section footer p span:last-of-type {
    display: inline;
  }
  .banner-section footer p span:first-of-type {
    display: none;
  }
}
/* footer styles */
/* //////////////////////////////////////// */
/* banner section styles */
